<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- <section>
        <div id="change_username">
            <input id="username" type="text" />
            <button id="send_username" type="button">Change username</button>
        </div>
    </section>
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->

    <section>
            <div id="change_username">
          <input id="username" type="text" />
          <button id="send_username" type="button">Change username</button>
            </div>
          </section>
      
          <section id="chatroom">
            <section id="feedback"></section>
          </section>
      
          
      
          <section id="input_zone"> 
            <input id="message" class="vertical-align" type="text" />
            <button id="send_message" class="vertical-align" type="button">Send</button>
          </section>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chat.js"></script>
    <script>
        let socket = io();
    </script>
</body>

</html>