/* /* @mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */
  
  /* * {
      box-sizing: border-box;
  }
  
  html {
      height: 100%;
  }
  
  body {
      margin: 0px;
      height: 100%;
  }
  
  header {
      text-align: center;
  }
  
  h1 {
      font-family: 'Comfortaa', sans-serif;
      margin: 0px;
  }
  
  div#change_username, section#input_zone {
      border: 5px outset #BDBBB6;
  }
  
  div#change_username {
      height: 3%;
      display: inline-block;
      background-color: #BDBBB6;
  }
  
  section#chatroom {
      border: 5px inset #BDBBB6;
      height: 85%;
      overflow: auto;
  }
  
  section#input_zone {
      height: 7%;
      text-align: center;
      background-color: #BDBBB6;
  }
  
  .vertical-align {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  
  input#username {
    font-family: 'Poppins', sans-serif;
  }
  
  input#message {
      display: inline-block;
      width: 88%;
      height: 70%;
      font-family: 'Poppins', sans-serif;
      font-size: 2vh;
  }
  
  button#send_message {
      display: inline-block;
      height: 70%;
      width: 10%;
  }
  
  p.message {
      margin: 0px;
      width: 100%;
      height: 40px;
      font-size: 2vh;
      font-family: 'Poppins', sans-serif;
      padding: 1vh;
  }
  
  .message:nth-child(even) {
      color: #EF9A9A;
  }
  
  .message:nth-child(odd) {
      color: #D50000;
  } */ 


  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  .flex{
      display: flex;
  }

  .flex-center{
      justify-content: center;
      align-items: center;
  }

  .flex-column{
      display: flex;
      flex-direction: column;
  }

  .flex-grow-1{
    flex-grow: 1;
  }

  .hidden{
      display: none;
  }

  .mb-2{
      margin-bottom: 20px;
  }

  .text-center{
      text-align: center;
  }

#appcontainer{
    height: 100vh;
    width: 100vw;
    background-color:#FFCC80;
}


  #login{
      background-color: grey;
      padding:40px 100px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      /* margin-top: -100px; */
  }

  #maincontent{
      justify-content: center;
      width: 100%;
  }

  input{
      height: 40px;
      padding: 10px;
      background-color:#FFF3E0;
      border: none;
      
  }

  button{
      height: 40px;
      padding: 0 15px;
      background-color: #FFCC80;
      color: white;
      border:none;
  }


  #chat{
      background-color: white;
      padding:25px;
      margin:25px;
      color: black;
      overflow-y: scroll;
      width: 80%;
  }

  .message{
      /* background-color: aliceblue; */
      padding: 10px;
      padding-bottom: 0px;
      /* margin: 80%; */
      margin-bottom: 10px;
  }

  .message-right{
color:#F57C00;


  }
  
  .message-details{
      margin-bottom: 5px;
      justify-content: space-between;
  }

  .message-author{
      font-weight: 800;
  }

  